/* Dashboard.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #ffff;
    padding: 30px;
}

h1 {
    color: #333;
    font-size: 3em;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-bar-container input {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    width: 750px; /* Increased width */
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.search-bar-container button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 15px;
}

.dropdown {
    width: 780px; /* Increased width */
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.feedName span {
    cursor: pointer;
    color: #333;
}

.follow-button, .unfollow-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.follow-button {
    background-color: #4CAF50;
    color: #fff;
}

.unfollow-button {
    background-color: #f44336;
    color: #fff;
}

.post-list {
    width: 780px; /* Increased width */
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 15px;
}

.post-title {
    padding: 15px;
    border-bottom: 1px solid #c2bfbf;
}

.post-title:last-child {
    border-bottom: none;
}

.post-title a {
    color: #0000EE;
    text-decoration: none;
}

.Logout-button{
    position: absolute;
    top: 80px; /* Adjust as needed */
    right: 200px; /* Adjust as needed */
    padding: 20px;
    background-color: #b4b4b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Logout-button:hover {
    background-color: #e2e6ea;
}